.a{
    text-align: center;
    background-color:yellow;
    color:darkblue;
    font-size:larger;
}
.b{
    text-align: center;
    color: darkmagenta;
    background-color: lightgreen;
}
.c{
    text-align: center;
    color: blue;
    background-color: chartreuse;
}

